body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #22223b;
    font-family:"Poppins";
    /* color: white; */
}
.container{
    /* padding: 1rem; */
    width:600px;
    height: 350px;
    background-color: white;
    position: relative;
}
.content{
    margin: 1.5rem;
}
.opts{
    font-size: 1.1rem;
}
.submit{
    width: 100%;
    height:45px;
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
.game{
    /* display: none; */
}
.result{
    display: none;
}
.play{
    width:100%;
    height: 40px;
    background-color: rebeccapurple;
    color:white;
    position: absolute;
    bottom: 0;
}
.top{
    text-align: center;
    margin: 0.5rem;
}
.top h1{
    font-size: 30px;
}
.correct{
    color:rgb(28, 220, 28);
}
.wrong{
    color:red
}